*
{
    margin: 0;
    font-family: sans-serif;
}
.d1
{
    height: 40px;
    width: 100%;
    background-color: #673A44;
    color: white;
     display: flex;
     align-items: center;
     justify-content: space-around     }
.d2
{
    color: white;
    display: flex;
    gap: 20px;
}
@media (max-width: 768px) 
{
 .d2
 {
    d
 }
}
@media (max-width: 510px) 
{
 .d2
 {
    font-size: 14px;
   margin-left: 10px;
}
}